[submodule "baliza/lib/bme68x"]
	path = baliza/lib/bme68x
	url = https://github.com/BoschSensortec/BME68x-Sensor-API.git
[submodule "baliza/external/esp-idf-lib"]
	path = baliza/external/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib.git
